<%= turbo_stream.replace "like-button-#{@post.id}" do %>
  <div class="like-button">
    <%= link_to post_like_path(@post), method: :delete, remote: true, class: "like-btn unlike" do %>
      <i class="fa fa-heart liked"></i>
    <% end %>
    <span class="like-count"><%= @post.likes.count %></span>
  </div>
<% end %>
