<div class="container text-center mt-5">
  <!-- アプリの説明 -->
  <div class="app-description my-5">
    <h1 class="display-4">ようこそ！</h1>
    <p class="lead mt-3">
      <strong>filmusic</strong>では、ユーザーが映画と音楽を共有・発見できるサービスです。<br>
      音楽という視点で映画を楽しむことで、新たな発見があるかもしれません。
    </p>
  </div>

  <!-- コンテンツの紹介 -->
  <div class="content-intro my-5">
    <h2 class="mb-4">投稿の作成</h2>
    <div class="row">
      <div class="col-md-6 mb-4">
        <%= image_tag "top1.png", alt: "Feature 1", class: "img-uniform" %>
        <h3 class="mt-3">映画の選択</h3>
        <p>視聴した映画を登録しましょう。</p>
      </div>
      <div class="col-md-6 mb-4">
        <%= image_tag "top2.png", alt: "Feature 2", class: "img-uniform" %>
        <h3 class="mt-3">音楽の選択</h3>
        <p>映画に登場したお気に入りの楽曲を登録しましょう。</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <%= image_tag "top3.png", alt: "Feature 1", class: "img-uniform" %>
        <h3 class="mt-3">コメントの入力</h3>
        <p>思い出を共有しましょう。</p>
      </div>
      <div class="col-md-6 mb-4">
        <%= image_tag "top4.png", alt: "Feature 2", class: "img-uniform" %>
        <h3 class="mt-3">投稿完了</h3>
        <p>新しい映画・音楽に出会いましょう。</p>
      </div>
    </div>    
  </div>

  <!-- ログインボタンと会員登録ボタン (ログインしていない場合のみ表示) -->
  <% if current_user.nil? %>
    <div class="mt-5">
      <a href="/users/new" class="btn btn-primary btn-lg">会員登録</a>      
      <a href="/login" class="btn btn-primary btn-lg">ログイン</a> 
    </div>
  <% end %>
</div>
