/* マイページのスタイル */

/* ヘッダーのスタイル */
.mypage-header {
  text-align: center;
  margin-top: 30px;
}

.mypage-header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

/* ユーザー情報のスタイル */
.user-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center; /* ユーザー情報全体を中央に配置 */
}

.user-info p {
  font-size: 1rem;
  color: #555;
}

.user-info strong {
  font-weight: bold;
}

/* アバター画像のスタイル */
.mypage-avatar {
  width: 150px; /* 幅を指定 */
  height: 150px; /* 高さも同じ値に指定して真円に */
  border-radius: 50%; /* 円形にするための設定 */
  margin-top: 15px;
  display: block; /* インライン要素をブロック要素にして中央に配置 */
  margin-left: auto;
  margin-right: auto; /* 左右の自動マージンで中央に配置 */
}

/* 関連情報のスタイル */
.related-info {
  margin-top: 30px;
}

.related-info h2 {
  font-size: 1.5rem;
  color: #333;
}

.related-info ul {
  list-style-type: none;
  padding: 0;
}

.related-info li {
  font-size: 1rem;
  margin: 10px 0;
}

.related-info a {
  color: #007bff;
  text-decoration: none;
}

.related-info a:hover {
  text-decoration: underline;
}
