.post-form-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  font-size: 1rem;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.left-block, .right-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48%;
}

.movie-info, .music-info, .comment-section {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-poster-container, .movie-trailer-container, .music-info iframe {
  text-align: center;
}

.movie-title, .trailer-text, .music-title, .artist {
  font-size: 0.8rem;
  text-align: left;
  display: flex;
  align-items: center;
  margin: 5px;
}

.movie-poster {
  width: 300px;
  height: auto;
  margin-top: 10px;
}

.movie-trailer-container iframe {
  width: 75%;
  height: 250px;
  margin-top: 10px;
}

.music-info iframe {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.comment-label {
  font-size: 0.9rem;
  margin-bottom: 3px;
}

.comment-textarea {
  width: 100%;
  margin-bottom: 10px;
}

.post-submit-button {
  display: flex;
  justify-content: center;
  align-items: center; /* 追加：縦横中央に配置 */
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px; /* ボタンの下部に余白を追加 */
}

.form-group {
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}

.comment-group {
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .post-form-container {
    flex-direction: column;
    width: 100%;
  }

  .left-block, .right-block {
    width: 100%;
  }

  .movie-info, .music-info, .comment-section {
    text-align: center;
  }
  
  /* モバイル用調整 */
  .post-submit-button {
    margin-top: 30px; /* 上の余白を調整 */
  }
}

.post-submit-button .btn {
  padding: 5px 15px; /* ボタンの上下左右のパディングを調整 */
  font-size: 0.875rem; /* フォントサイズを小さく */
  width: auto; /* 幅を自動調整 */
}
